*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'arial';


}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

}

.navbar{
    background-color: #2c2c2c;
    padding: 1rem;
    position: static;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c; 
    z-index: 99;
}

.navbar>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    color: #0084ff;
}
.logo span{
    color: white;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}

.nav-icon-container:first-child{
    margin-right: 1rem;
}

nav ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}
nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;

}

.menu-button{
display: none;
}

/*Header*/

header{
    background-image: radial-gradient(#fff, #c7c7c7);
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.hearder-bottom-side-left{
    height: 100%;
    flex-basis: 50%;
}
.hearder-bottom-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}
.hearder-bottom-side-left p{
    margin-bottom: 1.5rem;
}

.hearder-bottom-side-left button{
    background-color: #0084ff;
    border: none;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}
.hearder-bottom-side-left button:hover{
    background-color: #004c94;
}

.hearder-bottom-side-right{
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
 
}

.hearder-bottom-side-right img{
    width: 100%;
    max-width: 100%;
}

/*Media Queries, Responsividade*/
@media (max-width: 800px){

    logo{
        font-size: 1.2rem;
    
    
}

    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 2.5rem;
    }

        .menu-button{
        display: inline;
        margin-left: 15px;
    }

    nav{
        position: absolute;
        background-color: #2c2c2c;
        width: 100%;
        top: 46px;
        display: none;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        text-align: center;
        padding: 0.8rem;
    }
    .show-menu nav{
        display: block;
    }
    
}
/*Header*/


/*Main Content*/

.gray-background{
    background-color: #2c2c2c;
    
}

.page-inner-content{
    max-width: 1300px;
    margin:  auto;
}

.cols{
    display: grid;
    padding: 3rem 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    
}

.gray-background img{
   width: 100%;
}